
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lindi's Bakery - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
<!-- About Section -->
<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                    <img src="~/images/logo.jpeg" alt="img" />
            </div>
        </div>
        <div class="col-right">
            <h1 class="section-title">About <span>Lindi’s Home Bakery</span></h1>
            <h2>Lindiwe Kekana</h2>
            <p>
                Welcome to Lindi’s sweet treats, where every bite is made with love and a sprinkle of homegrown joy! Founded by Lindiwe Kekana and proudly based in the heart of Pitori, our bakery brings you freshly baked treats that warm the soul and delight the senses.<br>
                ✨ Our treats include: Moist and fluffy muffins. Irresistible cupcakes and Classic scones.<br>
                🍓 Our delicious flavors: Chocolate, Vanilla , Vanilla & Blueberry.<br>
                Baked right at home, each treat is handmade with passion and fresh, quality ingredients. As a growing business, we’re proud to keep that homey touch in everything we do.<br><br>
                Come taste the love and flavor in every bite — because at Lindi’s, you’re more than a customer, you’re part of our family
            </p>

                <a href="~/images/PriceList.jpeg" download class="cta">Download Price List</a>



        </div>
    </div>
</section>
<!-- End About Section -->
</body>
</html>